$bg_primary_color: #339999;
$bg_secondary_color: #f7f7f7;

$text_primary_color: #1c1b1b;
$text_secondary_color: #fff;
$text_third_color: #444;

$primary_font_family: 'Open Sans', sans-serif;
$secondary_font_family: 'Poppins', sans-serif;

$spacer: 8px;
